# Neon Serverless PostgreSQL Database Connection
# Example: postgresql://neondb_owner:YOUR_PASSWORD@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require&pgbouncer=true
DATABASE_URL="postgresql://neondb_owner:password@ep-placeholder.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Port & Environment
PORT=4000
NODE_ENV=development

# JWT Authentication Secret
JWT_SECRET="orderflow_bd_super_secret_jwt_key_2026_bd"
JWT_EXPIRATION="7d"

# Meta (Facebook Messenger) App Config
FACEBOOK_APP_ID=""
FACEBOOK_APP_SECRET=""
DEFAULT_FACEBOOK_VERIFY_TOKEN="orderflow_bd_verify_token"

# WhatsApp Cloud API Config
WHATSAPP_API_VERSION="v20.0"

# Courier Default Sandbox/Production Base URLs
STEADFAST_BASE_URL="https://portal.packzy.com/api/v1"
PATHAO_BASE_URL="https://courier-api-sandbox.pathao.com"
